body{
	padding:0;
}
.headerbg
{
	background-color: #336666;
	color: white;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 0;
	vertical-align: center;
}
.sortable { text-decoration: underline; }
.smallgrey
{
	color: #666;
	font-size: 0.8em;
	font-weight: bold;
}
.custom-combobox {
	position: relative;
	display: inline-block;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}
.custom-combobox-input {
	margin: 0;
	padding: 5px 10px;
}